<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>APP_ID</key>
	<string>48f2bb65ddb04c96a16dcba5034c07b9</string>
	<key>EXCHANGE_RATE_BASE_URL</key>
	<string>https://openexchangerates.org/api</string>
</dict>
</plist>
